.App {
  text-align: center;
  min-height:100vh;
  scroll-behavior: smooth;
  background-color: burlywood;
}

.img-container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;padding: 2rem;
}
.img-box{
  border: 1px solidblack;
  width: 20vw;
  height: 20vw;
}
img{
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}


